# Ignore installable dependencies.
vendor/*
composer.phar

# Ignore vim rubbish.
*.swp
*.un~

# Examples are public, custom configuration is private.
rewrite.conf
config.ini

# SQLite3 database
data.sqlite
